/* GLOBAL */
body {
  background-color: #333333;
  color: white;
  font-family: 'Crimson Text', serif;
  margin: 0;
  position: relative;
}

h1 {
  color: #ff9933;
  font-family: 'Pacifico', cursive;
  margin: 0.5rem;
}

h2 {
  font-family: 'Pacifico', cursive;
  margin: 0;
  padding: 8px;
  padding: 0.5rem;
}

h3 {
  font-family: 'Pacifico', cursive;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

form {
    margin: 8px;
    margin: 0.5rem;
    margin-bottom: 72px;
    margin-bottom: 4.5rem;
}

button, input[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

label {
  background-color: white;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
  display: block;
  padding: 16px;
  padding-left: 32px;
}

form > h2 {
  display: none;
}

form li {
  font-size: 1.5em;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  position: relative;
}

input[type="checkbox"]{
  position: absolute;
  left: 12px;
  top: 24px;
}

@supports(clip: rect(0, 0, 0, 0)){
  input[type="checkbox"]{
    clip: rect(0, 0, 0, 0);
  }

  label {
      padding: 1rem;
  }
}

input[type="checkbox"]:focus + label {
  border: 8px solid #9933ff;
  box-sizing: border-box;
}

@supports(box-shadow: 10px 10px 10px #9933ff) {
    input[type="checkbox"]:focus + label {
        background: white;
      border: none;
      box-shadow: 10px 10px 10px #9933ff, -10px -10px 10px #9933ff, -10px 10px 10px #9933ff, 10px -10px 10px #9933ff;
    }

    input[type="submit"]:focus {
        box-shadow: 10px 10px 10px #9933ff, -10px -10px 10px #9933ff, -10px 10px 10px #9933ff, 10px -10px 10px #9933ff;
    }
}

input[type="checkbox"]:checked + label {
  background-color: #ffbf80;
}

input[type="submit"]{
  background-color: #ff9933;
  border: none;
  border-radius: 4px;
  bottom: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  left: 0;
  position: relative;
  position: fixed;
  right: 0;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  font-size: 1.8em;
  width: 100%;
}

.overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.message {
    opacity: 1;
    background-color: #3399ff;
    margin: 0;
    padding: 0.5rem;
    transition: 0.5s;
}

/* GROCERY LIST */
.grocerylist {
  background-color: white;
  box-shadow: 2px 2px 5px darkgrey;
  color: black;
  display: block;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  position: fixed;
  top: 0;
  transition: 0.5s cubic-bezier(.12,.71,.53,1);
  left: 0;
  bottom: 0;
  width: auto;
  width: 0;
  z-index: 1;
}

.togglegrocery {
    background-color: orange;
    background-color: #ff9933;
    border: none;
    border-radius: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    font-size: 1rem;
    padding: 6px;
    padding: 0.4rem;
    position: fixed;
    right: 8px;
    right: 0.5rem;
    top: 8px;
    top: 0.5rem;
    z-index: 1;
}

.togglegrocery:focus, input[type="submit"]:focus {
    outline-color: #9933ff;
}

.grocerylist li {
  background-color: #dddddd;
  border-radius: 4px;
  font-size: 1.3em;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  position: relative;
  padding: 16px;
  padding: 1rem;
}

.remove {
  content: '\00d7';
  position: absolute;
  right: 16px;
  right: 1rem;
  text-align: right;
}

.groceryitem label {
    background-color: inherit;
    padding: 0;
}

.mylist {
    box-sizing: border-box;
    height: 70%;
    height: 80vh;
    margin: 8px;
    margin: 0.5rem;
}

.cursor {
    cursor: move;
}

.dropzone {
    background-color: #f7f2ed;
    box-sizing: border-box;
    outline: 3px dashed black;
}

.drophere {
 background-color: #ffbf80;
}

.mylist li input {
    display: none;
}

@supports(clip: rect(0, 0, 0, 0)){
.mylist li input {
      clip: rect(0, 0, 0, 0);
      display: inline;
  }
}

.showgrocerylistflow {
    display: block;
    overflow: visible;
    margin: 8px;
    margin: 0.5rem;
    padding-bottom: 8px;
    padding-bottom: 0.5rem;
    position: relative;
    width: auto;
}

@media screen and (min-width: 53rem){
    h1, form {
        margin-left: 272px;
        margin-left: 17rem;
    }

    .grocerylist {
        padding: 16px;
        padding: 1rem;
        width: 224px;
        width: 14rem;
    }

    .togglegrocery {
        display: none;
    }

    input[type="submit"]{
        left: auto;
        margin: 0.5rem;
        right: 0;
        width: 20rem;
    }
}

@media screen and (min-width: 87rem){
    h1 {
        font-size: 64px;
        font-size: 4em;
        margin-bottom: 8px;
        margin-bottom: 1rem;
        margin-left: 480px;
        margin-left: 30rem;
    }

    h3 {
        font-size: 2em;
    }

    form {
        margin-left: 480px;
        margin-left: 30rem;
        margin-bottom: 16px;
        margin-bottom: 2rem;
        width: 800px;
        width: 50rem;
    }

    .grocerylist {
        padding: 32px;
        padding: 2rem;
        width: 320px;
        width: 20rem;
    }

    .togglegrocery {
        display: none;
    }

    input[type="submit"]{
        font-size: 2em;
    }

    form {
        margin-bottom: 0;
    }

    .message {
        margin-left: 480px;
        margin-left: 30rem;
    }
}

@media screen and (min-width: 102rem){
    h1 {
        margin-left: auto;
        margin-right: auto;
        width: 50rem;
    }

    form {
        margin-left: auto;
        margin-right: auto;
    }

    .message {
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }
}
