<%- include('../partials/header.ejs') %>
  <section class="grocerylist">
    <h2>Mijn boodschappenlijstje</h2>
    <% if(myList == "undefined"){} else { %>
      <ul>
        <% for(var key in myList){ %>
          <li>
            <%= myList[key].replace('-', ' '); %>
          </li>
        <%}%>
      </ul>
    <% } %>
  </section>
  <form method="post" enctype="multipart/form-data">
    <h2>Ingrediënten</h2>
    <section>
      <h3>Brood</h3>
      <ul>
        <li>
          <input type="checkbox" name="bread" value="Tosti-brood" id="tostibread" />
          <label for="tostibread">Tosti brood</label>
        </li>
        <li>
          <input type="checkbox" name="bread" value="Casino-wit" id="casinowit" />
          <label for="casinowit">Casino wit</label>
        </li>
        <li>
          <input type="checkbox" name="bread" value="Casino-bruin" id="casinobruin" />
          <label for="casinobruin">Casino bruin</label>
        </li>
        <li>
          <input type="checkbox" name="bread" value="Tijger-wit" id="tijgerwit" />
          <label for="tijgerwit">Tijger wit</label>
        </li>
        <li>
          <input type="checkbox" name="bread" value="Tijger-bruin" id="tijgerbruin" />
          <label for="tijgerwit">Tijger bruin</label>
        </li>
      </ul>
    </section>
    <section>
      <h3>Beleg</h3>
      <ul>
        <li>
          <input type="checkbox" name="siege" value="Jonge-kaas" id="jongekaas" />
          <label for="jongekaas">Jonge kaas</label>
        </li>
        <li>
          <input type="checkbox" name="siege" value="Oude-kaas" id="oudekaas" />
          <label for="oudekaas">Oude kaas</label>
        </li>
        <li>
          <input type="checkbox" name="siege" value="Mozzarella" id="mozzarella" />
          <label for="mozzarella">Mozzarella</label>
        </li>
        <li>
          <input type="checkbox" name="siege" value="Salami" id="salami" />
          <label for="salami">Salami</label>
        </li>
        <li>
          <input type="checkbox" name="siege" value="Ham" id="ham" />
          <label for="ham">Ham</label>
        </li>
        <li>
          <input type="checkbox" name="siege" value="Kalkoenfilet" id="kalkoenfilet" />
          <label for="kalkoenfilet">Kalkoenfilet</label>
        </li>
        <li>
          <input type="checkbox" name="siege" value="Kipfilet" id="kipfilet" />
          <label for="kipfilet">Kipfilet</label>
        </li>
      </ul>
    </section>
    <section>
      <h3>Fruit &amp; Groente</h3>
      <ul>
        <li>
          <input type="checkbox" name="fruit-veg" value="Champignons" id="champignons" />
          <label for="champignons">Champignons</label>
        </li>
        <li>
          <input type="checkbox" name="fruit-veg" value="Tomaat" id="tomaat" />
          <label for="tomaat">Tomaat</label>
        </li>
        <li>
          <input type="checkbox" name="fruit-veg" value="Uien" id="uien" />
          <label for="uien">Uien</label>
        </li>
        <li>
          <input type="checkbox" name="fruit-veg" value="Ananas" id="ananas" />
          <label for="ananas">Ananas</label>
        </li>
        <li>
          <input type="checkbox" name="fruit-veg" value="Avocado" id="avocado" />
          <label for="avocado">Avocado</label>
        </li>
      </ul>
    </section>
    <section>
      <h3>Kruiden</h3>
      <ul>
        <li>
          <input type="checkbox" name="herbs" value="Italiaanse-kruiden" id="italiaanse-kruiden" />
          <label for="italiaanse-kruiden">Italiaanse kruiden</label>
        </li>
        <li>
          <input type="checkbox" name="herbs" value="Zwarte-peper" id="zwarte-peper" />
          <label for="zwarte-peper">Zwarte peper</label>
        </li>
        <li>
          <input type="checkbox" name="herbs" value="Salieblaadjes" id="salieblaadjes" />
          <label for="salieblaadjes">Salieblaadjes</label>
        </li>
        <li>
          <input type="checkbox" name="herbs" value="Basilicum" id="basilicum" />
          <label for="basilicum">Basilicum</label>
        </li>
      </ul>
    </section>
    <section>
      <h3>Sauzen</h3>
      <ul>
        <li>
          <input type="checkbox" name="sauce" value="Mayonaise" id="mayonaise" />
          <label for="mayonaise">Mayonaise</label>
        </li>
        <li>
          <input type="checkbox" name="sauce" value="Ketchup" id="ketchup" />
          <label for="ketchup">Ketchup</label>
        </li>
        <li>
          <input type="checkbox" name="sauce" value="Groene-pesto" id="groene-pesto" />
          <label for="groene-pesto">Groene pesto</label>
        </li>
        <li>
          <input type="checkbox" name="sauce" value="Rode-pesto" id="rode-pesto" />
          <label for="rode-pesto">Rode pesto</label>
        </li>
        <li>
          <input type="checkbox" name="sauce" value="Pastasaus" id="pastasaus" />
          <label for="pastasaus">Pastasaus</label>
        </li>
      </ul>
    </section>
    <input type="submit" value="Toevoegen" />
  </form>
<%- include('../partials/footer.ejs') %>
